@model AbilityScoresViewModel
@{
    ViewData["Title"] = "AbilityScores";
}
    
    <section>
    <h1>Ability Scores</h1>
    <form method="post">
        <label asp-for="PointBuy">Point Buy:</label>
        <br />
        <a asp-action="PointBuy" class="btn btn-primary">Point Buy</a>
        <br />
        <label asp-for="StandardArray">Standard Array:</label>
        <br />
        <a asp-action="StandardArray" class="btn btn-primary">Standard Array</a>
        <br />
        <label asp-for="RollDice">Roll Dice:</label>
        <br />
        <a asp-action="RollDice" class="btn btn-primary">Roll Dice</a>
        <br />
        <label asp-for="Custom">Custom:</label>
        <br />
        <a asp-action="Custom" class="btn btn-primary">Custom</a>
        <br />
    </form>
    <br />
    <a asp-action="BasicData">Basic Data</a>
    <br />
    <a href="http://localhost:5022/Home/StandardArray">Standard Array</a>
    <br />
    <a href="http://localhost:5022/Home/PointBuy">Point Buy</a>
    <br />
    <a href="http://localhost:5022/Home/RollDice">Roll Dice</a>
    <br />
    <a href="http://localhost:5022/Home/Custom">Custom</a>
</section>