@model CreateCharacterViewModel
@{
    ViewData["Title"] = "CreateCharacter";
}

<section>
    <h1>Create New Character</h1>
    <form method="post">
        <label asp-for="UserName">Username:</label>
        <br />
        <input asp-for="UserName" type="text" required minlength="6" maxlength="20" />
        <br />
        <label asp-for="Password">Password:</label>
        <br />
        <input asp-for="Password" type="password" required minlength="8" maxlength="25" />
        <br />
        <input type="submit" value="Login" />
    </form>
</section>